@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; */

:root {
  /* Colors */
  /* Primary */
  /* Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Gradient */
  /* Background gradient: */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Neutral */
  /* Text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

body {
  background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  background-attachment: fixed;
}

/* faq */

.faq {
  background-color: white;
  margin: 12.5em auto 2.5em;
  padding: 11.5em 2em 0 2em;
  width: 88%;
  max-width: 600px;
  border-radius: 2em;
  box-shadow: 0px 10px 40px hsl(240, 46%, 40%);
  position: relative;
  background-image: url("./images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.faq::before {
  content: url("./images/illustration-woman-online-mobile.svg");
  position: absolute;
  top: -9em;
  left: calc(50% - 15px);
  transform: translateX(-50%);
}

.faq h1 {
  font-size: 2.8rem;
  color: var(--Very-dark-desaturated-blue);
  text-align: center;
  margin-bottom: 0.4em;
}

.qna {
  border-bottom: 1px solid var(--Light-grayish-blue);
  padding: 1.5em 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.qna:hover h3 {
  color: var(--Soft-red);
}

.qna-q {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--Very-dark-grayish-blue);
}

.questionFont {
  font-weight: 700;
}

.answer {
  line-height: 1.5em;
  width: 90%;
  color: var(--Dark-grayish-blue);
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}

.answerToggle {
  height: max-content;
  margin-bottom: 1.5em;
}

.arrow {
  transition: all 0.3s;
}

.arrowAngle {
  transform: rotate(180deg);
}

/* attribution */

.attribution {
  font-size: 9px;
  text-align: center;
  padding: 4em 0 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  body {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  body::after {
    content: url("/images/illustration-box-desktop.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-560px, -45px);
  }
  .faq {
    margin: auto;
    padding: 6em 6em 6em 40em;
    max-width: 920px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top calc(50% - 70px) left -580px;
    overflow: hidden;
  }
  .faq::before {
    content: url("./images/illustration-woman-online-desktop.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -85px;
  }
}
